
{{ define "main" }}
{{ $.Scratch.Set "taxonomyName" ( lower .Title )}}
<div class="section">
    <div class="columns is-multiline">
        {{ range .Pages.ByTitle }}
        {{ $.Scratch.Set "relLink" .RelPermalink }}
        <div class="column is-one-quarter">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <i class="fas fa-tags pl-3 pb-3"></i>
                    </p>
                    <div class="pt-4 pr-2">
                        {{ $.Scratch.Set "categorias" ( replace (.Title | lower) " " "-" ) }}
                                    {{ $.Scratch.Set "count" (len (index .Site.Taxonomies ( $.Scratch.Get "taxonomyName" ) ($.Scratch.Get "categorias") )) }}
                                    {{ if (gt ($.Scratch.Get "count") 1 ) }}
                                        {{ ($.Scratch.Get "count") }} Recetas Encontradas
                                    {{ else }}
                                        1 Receta Encontrada
                                    {{ end }}
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ $.Scratch.Set "categorias" ( replace (.Title | lower) " " "-" ) }}
                            {{ range first 5 (sort ( index .Site.Taxonomies ( $.Scratch.Get "taxonomyName" ) ($.Scratch.Get "categorias") ) "LinkTitle" ) }}
                                        <li><a href="{{ .Permalink}}"> {{ .LinkTitle }}</a></li>
                            {{ end }}
                                    {{ if (gt (len (index .Site.Taxonomies ( $.Scratch.Get "taxonomyName" ) ($.Scratch.Get "categorias"))) 5) }}
                                        <a href={{ $.Scratch.Get "relLink" }}>See All</a>
                                    {{ end }}
                        <a class="summary" href="{{ .RelPermalink }}">
                            <p>{{ .Summary }}</p>
                        </a>
                    </div>

                </div>
            </div>
            {{/* <p>
                <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ partial "metadata.html" . }}
                <a class="summary" href="{{ .RelPermalink }}">
                    <p>{{ .Summary }}</p>
                </a>
            </p> */}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}