# Created by hugo, not needed
public

# Lock used by hugo in server mode
.hugo_build.lock

# This should be in global git ignore, but maybe this is user by a luser
.idea

# KRecipes database to test import_krecipes.py script
Krecipes.krecdb

# Safe options injected with direnv
.envrc
